<ul class="social-icons">
  <li><strong style="color:white;">CIN :</strong> U74899DL1992NPL047146 <strong style="color:white;">&nbsp; GSTIN :</strong> 07AABCN8953B1ZI</li>
|<li>NBCFDC Dashboard</li>
</ul>
