<ul class="social-icons">
<i style="font-size:18px" class="fa fa-level-down"></i> <li>
<span style="font-size:16px;">Skip To Main Content<span></li>
<i class="fa fa-eye-slash rounded-6 bg-light text-dark p-1" style="font-size:18px;border-radius: 50px;
    height: 28px;
    width: 28px;"></i>
<i class="fa fa-sitemap bg-light text-dark p-1" style="font-size:16px;border-radius: 50px;
    height: 28px;
    width: 28px;"></i>


<img src="https://socialjustice.gov.in/public/latest/images/black-white.png" style="height:28px;">
  <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 50px;
    height: 28px;
    width: 65px; padding: 0px; color:#090808;">
  <img src="https://socialjustice.gov.in/public/latest/images/social-group.png">
  </a>
    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 50px;
    height: 28px;
    width: 65px; padding: 0px; color:#090808;">
    TT
  </a>

  
<button type="button" class="btn btn-light btn-sm" style="border-radius: 50px;
    height: 28px;
    width: 50px;padding-top:3px;">हिंदी</button>
  <form class="form-search" method="get" id="s" action="http://125.20.102.83/ncm/Re-desigen/web/">
    <div class="input-append d-flex">
        <input type="text" class="input-medium search-query" name="s" placeholder="Search" value="" style="height: 28px;">
        <button type="submit" class="add-on" style="background-color: white;padding:0 8px;border-radius: 4px;"><i class="fa fa-search fa-lg bg-light text-dark p-1" aria-hidden="true" style="background-color: aliceblue;
    height: 20px; padding-top: 5px;display: contents"></i></button>
    </div>
</form>

 
 </li>
</ul>
